* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Space Grotesk, sans-serif;
  background-color: #e0e0e0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vw;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3rem;
  float: left;
}

header h1 {
  font-weight: 400;
  margin-left: 10px;
}
img {
  width: 80px;
  height: 80px;
  padding: 7px;
}

h1 {
  color: rgb(255, 0, 0);
  font-size: 2.3rem;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
}
h2 {
  cursor: pointer;
}

.edit-mode {
  color: #333;
}
/* The form input */
.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

/* The Buttons */

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
}

.btn-link {
  font-size: 1rem;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  color: #ff0000;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #f1f1f1;
  color: black;
}

.text-red {
  color: red;
}

/* The items */

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 5px 20px;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .items li i {
    width: 100%;
    /*  display: flex;
    flex-direction: column; */
  }
  h1 {
    font-size: 25px;
  }
  .form-input {
    width: 75%;
  }
}
